@use '../../_css/common.scss' as *;

.productHero {
  padding-top:20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;

  @include small-break {
    grid-template-columns: 1fr;
  }
}

.mediaWrapper {
  position: relative;
  min-height: 400px;
  background-color: var(--color-dark-50);

  @include small-break {
    min-height: 250px;
  }
}

.image {
  padding: 24px;
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.categoryWrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-top: 8px;
}

.category {
  font-size: 16px;
}

.stock {
  color: var(--color-green-500);
}

.separator {
  color: var(--color-gray-500);
  padding: 0 10px;
}

.description {
  padding: 30px 0;
}

@keyframes flash {
    0% { background-color: rgb(250, 210, 40); } /* Original color */
    50% { background-color: darkorange; }       /* Flash to darkorange */
    100% { background-color: rgb(250, 210, 40); } /* Back to original color */
}

.callnow {
    background-color: rgb(250, 210, 40);
   display:flex;
    padding: 10px;
    border-radius: 5px;
    animation: flash 1.5s infinite;
}
